<header>header</header>
<ul>
    <li><a [routerLink]="['']" routerLinkActive="router-link-active" >cockpit</a></li>
    <li><a [routerLink]="['digital-letterbox']" routerLinkActive="router-link-active" >mfo digitale brievenbus</a></li>
    <li><a [routerLink]="['purchase-entry']" routerLinkActive="router-link-active" >mfo purchase entry</a></li>
    <li><a [routerLink]="['iba-digital-letterbox']" routerLinkActive="router-link-active" >iba digitale brievenbus</a></li>
    <li><a [routerLink]="['management']" routerLinkActive="router-link-active" >mfp management</a></li>
</ul>
